<app-tags [active_note_id]="note_id" [tags]="tags"></app-tags>
<div class="editor" role="main" style="margin-top:45px">
  <ckeditor [(ngModel)]="model.editorData" [editor]="Editor" [config]="ckConfig" data="<p>Hello, world!</p>"></ckeditor>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" (click)="onSave()">
    <i class="large material-icons">save</i>
  </a>
</div>
<app-attachments [parent_note_id]="note_id" [attachments]="attachments"></app-attachments>
<div id="content_loader" class="preloader-wrapper big active loader">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
    <div class="circle"></div>
  </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
  </div>
</div>

