<ul id="notes-sidenav" class="sidenav sidenav-fixed collapsible">
  <li>
    <div class="card-panel no-margin-top amber lighten-2"><h3>My Notebooks</h3></div>
  </li>
  <li *ngFor="let notebook of notebooks">
    <div class="collapsible-header">
      <i class="material-icons">book</i>
      <span>{{notebook.title}}</span>
    </div>
    <div class="collapsible-body container background-color-transparent">
      <ul class="background-color-transparent">
        <li *ngFor="let note of notebook.notes" class="sidenav-close background-color-transparent" (click)="onNoteClick(note.id)">
          <i class="material-icons small-margin-right background-color-transparent">note</i>
          <span>{{note.title}}</span>
        </li>
      </ul>
    </div>
  </li>
</ul>
